@import "~bootstrap/less/bootstrap";
@icon-font-path: '~bootstrap/fonts/';

body {
  padding: 0px 20px;
}

ul.entity-list {
  cursor: default;
  padding-left: 20px;

  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

  code {
    background: none;
    font-size: 100%;
    padding: 0;
    color: rgb(136, 19, 145);
  }

  li.entity-item {
    list-style-type: none;
    position: relative;

    .list-arrow {
      position: absolute;
      top: 5px;
      left: -15px;
      font-size: 10px;
    }

    input {
      &:focus {
        outline: 1px #aaa solid;
        outline-offset: 1px;
      }
      padding: 0px;
      border: 0;
    }
  }
}

.fps-warning {
  color: red;
}
